<div class="list-group">
    <a href="" class="list-group-item list-group-item-action justify-center"> Tüm Kategoriler </a>
    <% categories.forEach(category=> { %>
        <a href="" class="list-group-item list-group-item-action">
            <%= category %>
        </a>
        <% }) %>
</div>
